<section class="mod-banner d-flex align-items-center {% if item.afbeelding %}bg-dark text-white{% else %}no-bg {{ item.achtergrond }}{% endif %}" data-scroll-section>
	{% if item.afbeelding %}
		<div class="fill-space" data-scroll data-scroll-speed="-3">
			{% if iten.afbeelding %}
				<div class="bg-gradient"></div>
			{% endif %}
			<div class="bg-cover" style="background-image: url({{ Image(item.afbeelding).src|resize(1920) }})">
			</div>
		</div>
	{% endif %}
	<div class="container" {% if item.afbeelding %}data-scroll data-scroll-speed="-1"{% endif %}>
		<div class="row">
			<div class="col-10 col-lg-8">
				{% if item.tagline %}
					<span class="sub withbar">{{ item.tagline }}</span>
				{% endif %}
				<h2 class="h1">
					{% if item.titel %}
						{{ item.titel }} 
					{% else %}
						{{ item.title }} 
					{% endif %}
				</h2>
				<div class="d-none d-lg-block">
					{% if item.tekst %}
						<p class="lead mb-4 d-none d-md-block"> {{ item.tekst }} </p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section> 