<section id="section{{ sectionno }}" class="mod-teammembers d-flex align-items-center {{ item.achtergrond }}" data-scroll-section>
	<div class="content w-100">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-1">
					<div class="anime-fadein">
						<div class="maincontent">
							{% if item.titel %}
								<h2> {{ item.titel }}</h2>
							{% endif %}
							{% if item.tekst %}
								<p> {{ item.tekst }}</p>
							{% endif %}
						</div>
					</div>
					<br><br>
					{% for item in item.team_links %}
						<a href="{{ item.link }}" class="team mb-5">
							<div class="d-inline-block mb-1" style="width: 100%;">
								<div class="image-holder image ratio-3x4 anime-reveal">
									<div class="fill-space bg-cover bg-grey" style="background-image: url({{ Image(item.thumbnail)|resize(600) }})">
										<div class="bg-gradient"></div>
										<div class="content">
											<h4 class="mb-1"> {{ item.title }} </h4>
											{{ item.functie }}
										</div>
									</div>
								</div>
							</div>	
							<div class="btn btn-primary"> Info</div>
						</a>
					{% endfor %}
				</div>
				<div class="col-md-4 offset-md-2">
					{% for item in item.team_rechts %}
						<a href="{{ item.link }}" class="team mb-5">
							<div class="d-inline-block mb-1" style="width: 100%;">
								<div class="image-holder image ratio-3x4 anime-reveal">
									<div class="fill-space bg-cover bg-grey" style="background-image: url({{ Image(item.thumbnail)|resize(600) }})">
										<div class="bg-gradient"></div>
										<div class="content">
											<h4 class="mb-1"> {{ item.title }} </h4>
											{{ item.functie }}
										</div>
									</div>
								</div>
							</div>	
							<div class="btn btn-primary"> Info</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section> 