<section class="mod-tegels {{ item.achtergrond }}" data-scroll-section>
	<div class="container anime-fadein">
		<div class="row text-center">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				{% if item.titel %}
					<h2> {{ item.titel }}</h2>
				{% endif %}
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-4">
				{% if item.tekst %}
					<p class="mb-5 mb-lg-0"> {{ item.tekst }}</p>
				{% endif %}
			</div>
		</div>
		<div class="row g-10 row-flex">
			{% if item.toon == 'newsrecent' %}
				{% for item in newsrecent %}
					<div class="col-sm-6 col-md-4">
						{% include 'tease.twig' %}
						<br>
					</div>
				{% endfor %}
			{% else %}
				{% for item in item.tegels %}
					<div class="col-sm-6 col-md-4">
						<a href="{{ item.link }}" class="tease-post tegel{{ loop.index }}">
							<div class="d-inline-block mb-1" style="width: 100%;">
								<div class="image-holder image ratio-1x1 anime-reveal">
									<div class="fill-space bg-cover" style="background-image: url({{ Image(item.afbeelding)|resize(1024) }})"></div>
								</div>
							</div>
							<div class="content">
								<div class="line bg-actie"></div>
								<muted><small> bericht </small></muted>
								<h3 class="titel h5 mb-0"> {{ item.titel }}</h3>
							</div>
						</a>
						<br>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<br>
	</div>
</section> 