{% extends "base.twig" %}

{% block content %}
	<article class="error_404" id="post-{{ post.ID }}">
		<section class="mod-banner min-vh-100 d-flex align-items-center {% if options.achtergrond404 %}bg-dark text-white{% else %}no-bg {{ options.achtergrond404 }}{% endif %}" data-scroll-section>
			{% if options.achtergrond404 %}
				<div class="fill-space" data-scroll data-scroll-speed="-3">
					{% if options.achtergrond404 %}
						<div class="bg-gradient"></div>
					{% endif %}
					<div class="bg-cover" style="background-image: url({{ Image(options.achtergrond404).src|resize(1920) }})">
					</div>
				</div>
			{% endif %}
			<div class="container">
				<div class="row">
					<div class="col-10 col-lg-8">
						<span class="sub withbar">404</span>
						<h2 class="h1">
							{% if options.titel404 %}
								{{ options.titel404 }} 
							{% else %}
								404
							{% endif %}
						</h2>
						{% if options.tekst404 %}
							<p class="lead mb-4 d-none d-md-block"> {{ options.tekst404 }} </p>
						{% endif %}
						<a href="{{ options.knop404.url }}" class="btn btn-primary anime-fadein"> {{ options.knop404.title }} </a>
					</div>
				</div>
			</div>
		</section> 
	</article>
{% endblock %}