<footer id="footer" class="bg-basis text-white" data-scroll-section>
	<div class="container">
		<div class="row mb-2 mb-md-5">
			<div class="col-12 col-lg">
				<a href="{{ site.link }}" class="nolink">
					<img class="mb-5" src="{{ theme.link }}/assets/img/invox_white.svg">
				</a>
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_1 }}
				</div>
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_2 }}
				</div>
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_3 }}
				</div>	
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_4 }}
				</div>
			</div>
		</div>
		<hr>
		<div class="footerbottom">
			<div class="row">
				<div class="col">
					<muted>© {{ "now"|date('Y') }} {{ options.subfooter_text }}</muted>
				</div>
				<div class="col-auto">
					<a href="https://www.stoerebinken.nl" target="_blank">
						<muted> Site by Stoere Binken </muted>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>