<footer id="footer" class="bg-basis text-white" data-scroll-section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 col-lg">
				<img class="mb-5" src="{{ theme.link }}/assets/img/invox_white.svg">
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_1 }}
				</div>
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_2 }}
				</div>
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_3 }}
				</div>	
			</div>
			<div class="col-6 col-lg">
				<div class="mb-5">
					{{ footer_4 }}
				</div>
			</div>
		</div>
		<hr>
		<div class="footerbottom">
			<muted>© 2021 <a href="https://www.stoerebinken.nl" target="_blank">Stoere Binken Design</a> / a Sino Biopharmaceutical Group Company</muted>
		</div>
	</div>
</footer>